<header>
  <div class="overlay">
    <h1>Simply The Best</h1>
    <h3>Drag and Drop Todo App</h3>
    <p>The @angular/cdk/drag-drop module provides you with a way to easily and declaratively create drag-and-drop
      interfaces, with support for free dragging, sorting within a list, transferring items between lists, animations,
      touch devices, custom drag handles, previews, and placeholders, in addition to horizontal lists and locking along
      an axis..</p>
    <br>
    <button>READ MORE</button>
  </div>
</header>

<div class="container">
  <p></p>
</div>
<div class="container">
  <div cdkDropListGroup>
    <div class="example-container">
      <h2>To do</h2>

      <div cdkDropList [cdkDropListData]="todo" class="example-list" (cdkDropListDropped)="drop($event)">
        <div class="example-box" *ngFor="let item of todo" cdkDrag>{{item}}</div>
      </div>
    </div>

    <div class="example-container">
      <h2>Done</h2>

      <div cdkDropList [cdkDropListData]="done" class="example-list" (cdkDropListDropped)="drop($event)">
        <div class="example-box" *ngFor="let item of done" cdkDrag>{{item}}</div>
      </div>
    </div>
  </div>
</div>

<router-outlet></router-outlet>